body {
	font-family: stella thick;
	font-size: 10em;
}

#title {
  font-size: 300%;
  color: red;
}

@font-face {
	font-family: "stella thick";
	src: 
url("resource/font/stella-thick.woff") format("woff"),
url("resouce/font/stella-thick.otf") format("opentype");
}